this is a laravel project, using the latest version of laravel
it uses tailwindcss
it uses livewire 3
it uses jetstream

i want to to have a clean code
i want to use strict types when possible
i want to use named arguments from php 8.0 when possible
