@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
  display: none;
}

.special-grid {
  grid-template-columns: 300px 1fr 300px;
}

@media (max-width: 480px) {
  .special-grid {
    grid-template-columns: 1fr;
  }
}

.welcome-back {
  left: 240px;
  top: 27px;
  transform: translateY(0) rotate(5deg) scale(1);
}

.welcome-back::after {
  border: 8px solid transparent;
  border-left: 6px solid #172554;
  content: '';
  margin-top: -10px;
  left: 10px;
  position: absolute;
  top: 100%;
}
